1. DC Measurement of Faraday Rotation
2. Characterizing the AC Solenoid Magnetic Field, y = -0.007 + 0.485x

In [1]:
import pandas as pd
import math

In [2]:
value_info = ["Value","A","B","C","Red_Chi_Square","Adj_R_Square"]
value0 = [0,0.14808,43.0101612167053,24.5328272160722,0.102120073528,0.99958]
value1 = [1,0.253553491748493,23.6908281409895,22.8928640396394,0.877761686082,0.9887]
value2 = [1.5,0.21794802469788,23.5798550277828,22.7241818253294,0.969621853589,0.98742]
value3 = [2,0.17876188447703,23.3568816021276,22.2558790949861,0.733,0.99]
value4 = [2.5,0.165683554877873,23.0717181243392,22.4032921926902,0.986468106599,0.98667]
value5 = [0,0.2403,23.32335,23.74397,0.89236,0.98809]
value6 = [0.5,0.29076,23.39409,23.01189,1.17666,0.9845]

In [3]:
experiment = pd.DataFrame(
    {"Basic":value0,
     "1 A":value1,
     "1.5 A":value2,
     "2 A":value3,
     "2.5 A":value4,
     "O A":value5,
     "0.5 A":value6})

In [4]:
exp_trans = experiment.transpose()

In [5]:
exp_trans.columns = value_info

In [6]:
exp_trans

       Value         A          B          C  Red_Chi_Square  Adj_R_Square
Basic    0.0  0.148080  43.010161  24.532827        0.102120       0.99958
1 A      1.0  0.253553  23.690828  22.892864        0.877762       0.98870
1.5 A    1.5  0.217948  23.579855  22.724182        0.969622       0.98742
2 A      2.0  0.178762  23.356882  22.255879        0.733000       0.99000
2.5 A    2.5  0.165684  23.071718  22.403292        0.986468       0.98667
O A      0.0  0.240300  23.323350  23.743970        0.892360       0.98809
0.5 A    0.5  0.290760  23.394090  23.011890        1.176660       0.98450

In [7]:
exp_trans["Ampere"] = [0,1,1.5,2,2.5,0,0.5]
exp_trans["Verdet"] = exp_trans["C"]*math.pi/(exp_trans["Ampere"]*0.00117*180)
exp_trans

,Value,A,B,C,Red_Chi_Square,Adj_R_Square,Ampere,Verdet
Basic,0.0,0.148080,43.010161,24.532827,0.102120,0.99958,0.0,inf
1 A,1.0,0.253553,23.690828,22.892864,0.877762,0.98870,1.0,341.500729
1.5 A,1.5,0.217948,23.579855,22.724182,0.969622,0.98742,1.5,225.989625
2 A,2.0,0.178762,23.356882,22.255879,0.733000,0.99000,2.0,165.999303
2.5 A,2.5,0.165684,23.071718,22.403292,0.986468,0.98667,2.5,133.679047
O A,0.0,0.240300,23.323350,23.743970,0.892360,0.98809,0.0,inf
0.5 A,0.5,0.290760,23.394090,23.011890,1.176660,0.98450,0.5,686.552560

In [10]:
data = pd.read_csv("Value.csv")
data

   Unnamed: 0  No    V  Value 1  Value 2
0           0   1  0.2      0.7      1.0
1           1   2  0.4      1.8      2.1
2           2   3  0.6      2.8      3.1
3           3   4  0.8      4.0      4.2
4           4   5  1.0      4.8      5.2

In [11]:
data["Value Average"] = (data["Value 1"] + data["Value 2"])/2
data["Error"] = data["Value Average"] - data["Value 1"]
data["Voltage"] = [0.09, 0.19, 0.28, 0.38, 0.48]
data

   Unnamed: 0  No    V  Value 1  Value 2  Value Average  Error  Voltage
0           0   1  0.2      0.7      1.0           0.85   0.15     0.09
1           1   2  0.4      1.8      2.1           1.95   0.15     0.19
2           2   3  0.6      2.8      3.1           2.95   0.15     0.28
3           3   4  0.8      4.0      4.2           4.10   0.10     0.38
4           4   5  1.0      4.8      5.2           5.00   0.20     0.48

In [13]:
cons = 0.09298*0.1
gradient = 5.225
verdet = 5.225/cons
theory = 23
error = str(round((abs(verdet-theory)*100/theory),3)) + " %"

verdet, error, 1.2566370614*10*140*10**-6/0.15, math.sin(math.radians(155*2))

(561.9488061948806, '2343.256 %', 0.011728612573066666, -0.7660444431189781)

# Appendix
1. Vacuum Permeability : https://en.wikipedia.org/wiki/Vacuum_permeability
2. Faraday Rotation : https://drive.google.com/drive/folders/1cUdUmG-ZUxE7Md1xW9QpZC7WTp2eJiOR
3. Numpy Tools : https://docs.python.org/2/library/math.html#math.degrees
4. Title : Curve Fitting: Origin 8: Introduction to Curve Fitting (https://www.youtube.com/watch?v=n3rRRzxF_1A) :

5. Tools/Fitting Function Organizer (F9), Set the function and initial value, click compile and save
6. Analysis/Fitting/Nonlinear Curve Fit (Ctrl+Y)/User Defined
7. Function : y = A + B(cos((x+C)PI/180))^2
---------------------
# List of Resources :

1. Wikipedia, Reduced chi-squared statistic (https://en.wikipedia.org/wiki/Reduced_chi-squared_statistic)
2. Wikipedia, Error Bar (https://en.wikipedia.org/wiki/Error_bar)
3. Python Wrangling Data
4. Change Columns Name : https://stackoverflow.com/questions/47343838/how-to-change-column-names-in-pandas-dataframe-using-a-list-of-names
5. List of Origin Resources :
https://www.originlab.com/doc/OriginC/ref/cos
https://www.originlab.com/doc/Tutorials/OC-CodeBuilder
https://www.originlab.com/doc/Origin-Help/Cosine-FitFunc
https://www.originlab.com/index.aspx?go=Products/Origin/DataAnalysis/CurveFitting
https://www.originlab.com/doc/Origin-Help/UserDef-FitFunc