
Preliminary Steps :
Importing Library Needed
Input Raw Data

In [1]:

import pandas as pd
import numpy as np
import math

In [2]:

lens = [0.1,0.15,0.2,0.3,0.4,0.6,1.3,2,2.5]
output_raw_1 = [1.290,1.119,0.979,0.843,0.569,0.416,0.087,0.020,0.008] 
output_raw_2 = [1.339,1.162,1.01,0.881,0.593,0.424,0.087,0.020,0.008] 
baseline = 0.002

In [3]:
input_val = np.array([1.72,1.80])
input_mean = input_val.mean()
input_error = round(input_val[1] - input_mean,3)
input_mean, input_error

(1.76, 0.04)

3.2 Characterization of the Laser and Photometer

In [4]:

data = pd.DataFrame()
data["lens"] = lens
data["output_raw_1"] = output_raw_1
data["output_raw_2"] = output_raw_2
data

   lens  output_raw_1  output_raw_2
0  0.10         1.290         1.339
1  0.15         1.119         1.162
2  0.20         0.979         1.010
3  0.30         0.843         0.881
4  0.40         0.569         0.593
5  0.60         0.416         0.424
6  1.30         0.087         0.087
7  2.00         0.020         0.020
8  2.50         0.008         0.008

In [5]:
data['Raw Value'] = (data["output_raw_1"] + data["output_raw_2"])/2 #Average
data['error'] = (data["output_raw_2"] - data["output_raw_1"])/2 #Error
data["Value"] = data['Raw Value'] - baseline #Real Value
data['Ratio'] = input_mean/data["Value"] #Ratio
data["Log Ratio"] = data['Ratio'].apply(np.log10) #Attenuation
data["Error Log Ratio"] = abs(data["Log Ratio"]-lens)*100/lens #Attenuation Error
data

,lens,output_raw_1,output_raw_2,Raw Value,error,Value,Ratio,Log Ratio,Error Log Ratio
0,0.10,1.290,1.339,1.3145,0.0245,1.3125,1.340952,0.127413,27.413356
1,0.15,1.119,1.162,1.1405,0.0215,1.1385,1.545894,0.189180,26.119755
2,0.20,0.979,1.010,0.9945,0.0155,0.9925,1.773300,0.248782,24.391076
3,0.30,0.843,0.881,0.8620,0.0190,0.8600,2.046512,0.311014,3.671406
4,0.40,0.569,0.593,0.5810,0.0120,0.5790,3.039724,0.482834,20.708526
5,0.60,0.416,0.424,0.4200,0.0040,0.4180,4.210526,0.624336,4.056064
6,1.30,0.087,0.087,0.0870,0.0000,0.0850,20.705882,1.316094,1.237980
7,2.00,0.020,0.020,0.0200,0.0000,0.0180,97.777778,1.990240,0.487992
8,2.50,0.008,0.008,0.0080,0.0000,0.0060,293.333333,2.467361,1.305543

In [6]:
data_std = round(data["Error Log Ratio"].std(),3) #Total Attenuation Error 
data_std

12.048

3.3 Waveguiding properties of an acrylic bar

In [7]:
mid_mid = pd.DataFrame()
reflection = [i for i in range(8)]
angle = [100,92,85,77,69,63,51,43]
output = [0.308,0.285,0.223,0.146,0.098,0.033,0.033,0.012]
mid_mid["Reflection"] = reflection
mid_mid["Angle Raw"] = angle
mid_mid["Output Raw"] = output
mid_mid

   Reflection  Angle Raw  Output Raw
0           0        100       0.308
1           1         92       0.285
2           2         85       0.223
3           3         77       0.146
4           4         69       0.098
5           5         63       0.033
6           6         51       0.033
7           7         43       0.012

In [8]:
mid_mid["Angle (deg)"] = mid_mid["Angle Raw"][0] - mid_mid["Angle Raw"]
mid_mid["Output"] = mid_mid["Output Raw"] - baseline 
mid_mid

   Reflection  Angle Raw  Output Raw  Angle (deg)  Output
0           0        100       0.308            0   0.306
1           1         92       0.285            8   0.283
2           2         85       0.223           15   0.221
3           3         77       0.146           23   0.144
4           4         69       0.098           31   0.096
5           5         63       0.033           37   0.031
6           6         51       0.033           49   0.031
7           7         43       0.012           57   0.010

In [9]:
mid_end = pd.DataFrame()
reflection2 = [i for i in range(7)]
angle2 = [95,89,82,74,67,56,48]
output2 = [0.308,0.285,0.223,0.146,0.098,0.034,0.023]
mid_end["Reflection"] = reflection2
mid_end["Angle Raw"] = angle2
mid_end["Output Raw"] = output2
mid_end

   Reflection  Angle Raw  Output Raw
0           0         95       0.308
1           1         89       0.285
2           2         82       0.223
3           3         74       0.146
4           4         67       0.098
5           5         56       0.034
6           6         48       0.023

In [10]:
mid_end["Angle (deg)"] = mid_mid["Angle Raw"][0] - mid_end["Angle Raw"]
mid_end["Output"] = mid_end["Output Raw"] - baseline 
mid_end

   Reflection  Angle Raw  Output Raw  Angle (deg)  Output
0           0         95       0.308            5   0.306
1           1         89       0.285           11   0.283
2           2         82       0.223           18   0.221
3           3         74       0.146           26   0.144
4           4         67       0.098           33   0.096
5           5         56       0.034           44   0.032
6           6         48       0.023           52   0.021

In [11]:
merged = mid_end.append(mid_mid)
length = 22.10
merged["Angle (rad)"] = (merged["Angle (deg)"]*math.pi/180).round(2)
merged["Ratio"] = input_mean/merged["Output"]
merged["Attentuation"] = merged["Ratio"].apply(np.log)
merged.sort_values(by=['Angle Raw'], ascending=False)

,Reflection,Angle Raw,Output Raw,Angle (deg),Output,Angle (rad),Ratio,Attentuation
0,0,100,0.308,0,0.306,0.00,5.751634,1.749484
0,0,95,0.308,5,0.306,0.09,5.751634,1.749484
1,1,92,0.285,8,0.283,0.14,6.219081,1.827622
1,1,89,0.285,11,0.283,0.19,6.219081,1.827622
2,2,85,0.223,15,0.221,0.26,7.963801,2.074906
2,2,82,0.223,18,0.221,0.31,7.963801,2.074906
3,3,77,0.146,23,0.144,0.40,12.222222,2.503256
3,3,74,0.146,26,0.144,0.45,12.222222,2.503256
4,4,69,0.098,31,0.096,0.54,18.333333,2.908721
4,4,67,0.098,33,0.096,0.58,18.333333,2.908721
5,5,63,0.033,37,0.031,0.65,56.774194,4.039082
5,5,56,0.034,44,0.032,0.77,55.000000,4.007333
6,6,51,0.033,49,0.031,0.86,56.774194,4.039082
6,6,48,0.023,52,0.021,0.91,83.809524,4.428547
7,7,43,0.012,57,0.010,0.99,176.000000,5.170484

In [12]:
n2 = math.sqrt(1+(math.sin(math.radians(57)))**2) 
n2, abs(n2-1.6)*100/1.6 #Acrylic Refracting Index and Error

(1.30513153419029, 18.429279113106876)

3.3 Waveguiding properties of an optical fiber

In [13]:

single_line = pd.DataFrame()

length = [35.75,26.60,25.65,23.4,21.3] 
power1 = [66.9,41.9,38.4,37.3,62.9]
power2 = [68.1,43.9,38.4,37.3,62.9]

single_line["Length"] = length
single_line["Power 1"] = power1
single_line["Power 2"] = power2

single_line

   Length  Power 1  Power 2
0   35.75     66.9     68.1
1   26.60     41.9     43.9
2   25.65     38.4     38.4
3   23.40     37.3     37.3
4   21.30     62.9     62.9

In [14]:

single_line['Power'] = (single_line["Power 2"] + single_line["Power 1"])/2
single_line['Error'] = (single_line["Power 2"] - single_line["Power 1"])/2
single_line['Value'] = single_line['Power'] - baseline
single_line["Attentuation"] = input_mean/single_line['Value']
single_line["Log Attentuation"] = -single_line["Attentuation"].apply(np.log)
single_line

,Length,Power 1,Power 2,Power,Error,Value,Attentuation,Log Attentuation
0,35.75,66.9,68.1,67.5,0.6,67.498,0.026075,3.646784
1,26.60,41.9,43.9,42.9,1.0,42.898,0.041028,3.193511
2,25.65,38.4,38.4,38.4,0.0,38.398,0.045836,3.082692
3,23.40,37.3,37.3,37.3,0.0,37.298,0.047188,3.053626
4,21.30,62.9,62.9,62.9,0.0,62.898,0.027982,3.576201

In [15]:
multi_line = pd.DataFrame()

length1 = [30.3,29.5,26.4,25.2,22.50,20.40] 
power3 = [5.9,0.4,8.5,11.6,3.9,9.2]
power4 = [5.9,0.4,9.0,12.7,4.1,9.7]

multi_line["Length"] = length1
multi_line["Power 1"] = power3
multi_line["Power 2"] = power4

multi_line

   Length  Power 1  Power 2
0    30.3      5.9      5.9
1    29.5      0.4      0.4
2    26.4      8.5      9.0
3    25.2     11.6     12.7
4    22.5      3.9      4.1
5    20.4      9.2      9.7

In [16]:
multi_line['Power'] = (multi_line["Power 2"] + multi_line["Power 1"])/2
multi_line['Error'] = (multi_line["Power 2"] - multi_line["Power 1"])/2
multi_line['Value'] = multi_line['Power'] - baseline
multi_line["Attentuation"] = input_mean/multi_line['Value']
multi_line["Log Attentuation"] = -multi_line["Attentuation"].apply(np.log)
multi_line

,Length,Power 1,Power 2,Power,Error,Value,Attentuation,Log Attentuation
0,30.3,5.9,5.9,5.90,0.00,5.898,0.298406,1.209300
1,29.5,0.4,0.4,0.40,0.00,0.398,4.422111,-1.486617
2,26.4,8.5,9.0,8.75,0.25,8.748,0.201189,1.603511
3,25.2,11.6,12.7,12.15,0.55,12.148,0.144880,1.931851
4,22.5,3.9,4.1,4.00,0.10,3.998,0.440220,0.820480
5,20.4,9.2,9.7,9.45,0.25,9.448,0.186283,1.680489

In [17]:
evaluation = multi_line.append(single_line)
evaluation

,Length,Power 1,Power 2,Power,Error,Value,Attentuation,Log Attentuation
0,30.30,5.9,5.9,5.90,0.00,5.898,0.298406,1.209300
1,29.50,0.4,0.4,0.40,0.00,0.398,4.422111,-1.486617
2,26.40,8.5,9.0,8.75,0.25,8.748,0.201189,1.603511
3,25.20,11.6,12.7,12.15,0.55,12.148,0.144880,1.931851
4,22.50,3.9,4.1,4.00,0.10,3.998,0.440220,0.820480
5,20.40,9.2,9.7,9.45,0.25,9.448,0.186283,1.680489
0,35.75,66.9,68.1,67.50,0.60,67.498,0.026075,3.646784
1,26.60,41.9,43.9,42.90,1.00,42.898,0.041028,3.193511
2,25.65,38.4,38.4,38.40,0.00,38.398,0.045836,3.082692
3,23.40,37.3,37.3,37.30,0.00,37.298,0.047188,3.053626
4,21.30,62.9,62.9,62.90,0.00,62.898,0.027982,3.576201